@import "../../scss/variables";
.movie-container {
    width: 22%;
    background: #fff;
    color: #000;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 3px 6px 18px #000000b3;
    position: relative;
    translate: 0.3s;
    z-index: 2;
    .movie-img {
        position: relative;
        // overflow: hidden;
        img {
            transition: all 0.3s;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: #fff;
            width: 40px;
            height: 40px;
            border: 5px solid #ffdd00;
            border-radius: 50%;
            left: 10%;
            transform: translate(-50%, 35%);
            bottom: 0;
        }
    }
    h5 {
        padding: 15px 10px 10px;
        font-size: 1.1em;
        color: rgb(63, 63, 63);
    }
    i {
        padding: 10px;
        font-size: 0.8em;
        color: rgb(119, 119, 119);
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 0.3s;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-group {
            .btn {
                background: #032541;
                padding: 10px 40px;
                color: #fff;
                margin: 10px 0px;
                border-radius: 7px;
                box-shadow: 0px 5px 15px #4b4b4b;
                transition: all 0.3s;
            }
            .btn:hover {
                background: #fff;
                box-shadow: 0px 5px 15px #000;
                a {
                    color: $color-dark-blue;
                }
            }
        }
    }
}

.movie-container:hover {
    .movie-img {
        img {
            transform: scale(1.02);
        }
    }
    .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.7);
        z-index: 5;
    }
}